body {

}

.acteurDiv {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.acteurImg {
  grid-row: 1/4;
  grid-column: 1/3;
}

.acteurInfos {
  grid-row: 1/4;
  grid-column: 1/3;
}

.acteur {
  display: grid;
  grid-template-rows: max-content max-content auto;
  grid-template-columns: max-content auto;
}

.nom {
  font-size: 1.25rem;
  font-weight: 600;
}

.portrait {
  grid-row: 1/4;
}

.portrait img {
  width: 80px;
  border-radius: 50%;
}

.flag {
  height: 1rem;
  vertical-align: text-bottom;
}
